<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>webmodel</display-name>
	
	<!-- 最原始的AppController，需要负责生成数据和显示页面 -->
	<servlet>
		<servlet-name>Application Controller 0.1</servlet-name>
		<servlet-class>com.ceit.web.AppController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Application Controller 0.1</servlet-name>
		<url-pattern>/app</url-pattern>
	</servlet-mapping>
	
	<!-- 修改后的AppController，只需要生成数据，拥有一个result.jsp专门显示页面 -->
	<servlet>
		<servlet-name>Application Controller 0.2</servlet-name>
		<servlet-class>com.ceit.web.AppController1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Application Controller 0.2</servlet-name>
		<url-pattern>/app1</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>